<!doctype html>
<html lang="en">
<head>
    <title>Fate RSPS - Store</title>

    <app-head></app-head>
</head>

<body>
    <app-navigation></app-navigation>

  <main>
    <div class="container">
      <section>
        <div class="row gy-4">
          <div class="col-12 col-md-12 col-lg-4 col-xl-3">
            <div class="content-box full-frame-border mb-4">
              <div class="store-profile--title">
                  <img src="assets/images/universal/section-icons/profile-icon.png" lazy>
                  <h3>Welcome Calum</h3>
              </div>
              <ul class="store-profile--stats">
                <li>
                  <p>Current Credits:</p>
                  <span>1234</span>
                </li>
                <li>
                  <p>Total Donated:</p>
                  <span>$135 USD</span>
                </li>
              </ul>
              <a href="#" class="btn full-width green mb-2">Buy Store Credits</a>
              <a href="#" class="btn full-width green mb-2">Buy Donator Scrolls</a>
              <a href="#" class="btn full-width yellow">Donate with OSRS GP</a>
            </div>
            <div class="section-title">
                <img src="assets/images/universal/section-icons/cart-icon.png" lazy>
                <h3>Your Cart</h3>
            </div>
            <div class="content-box">
              <form>
                <ul class="store-cart-basket">
                  <li>
                    <p class="product-name"><a href="#" class="remove-item"></a>1x Product Name</p>
                    <p class="cost">20 Credits</p>
                  </li>
                  <li>
                    <p class="product-name"><a href="#" class="remove-item"></a>5x Product Name</p>
                    <p class="cost">50 Credits</p>
                  </li>
                </ul>
                <div class="mb-3">
                  <label for="storeDiscountCode" class="form-label">Discount Code</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="storeDiscountCode" placeholder="Got a discount code?">
                    <button type="submit" class="form-control-btn">Submit</button>
                  </div>
                </div>
                <ul class="store-cart-summary">
                  <li class="sub-total">
                    <p>Cart Total:</p>
                    <span>70 Credits</span>
                  </li>
                  <li class="discount">
                    <p>Discount:</p>
                    <span>-10%</span>
                  </li>
                  <li class="total">
                    <p>Total Due:</p>
                    <span>63 Credits</span>
                  </li>
                </ul>
                <button type="submit" class="btn full-width">Confirm Purchases</button>
              </form>
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-8 col-xl-9">
            <div class="content-box">
              <div class="pre-release-header">
                <h3>Pre-Release Donations</h3>
                <p>All donations will be used to help the development of the game</p>
              </div>
              <hr>
              <div class="row gy-3 row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-4">
                <div class="col">
                  <div class="text-center">
                    <h4>Tier 1 - $10</h4>
                  </div>
                  <div class="pre-release-col--banner">
                    <img src="assets/images/store/tier-1-banner.png">
                  </div>
                  <div class="content-box--inner pre-release-col">
                    <ul class="pre-release-col--benefits">
                      <li>$10 Donated on Account<br>(+ Any Rank Benefits)</li>
                      <li>Lock In Username</li>
                      <li>Discord Rank</li>
                    </ul>

                    <div class="pre-release-col--more-soon">
                      <p>More Coming soon</p>
                    </div>

                    <a href="#" class="btn full-width green">Unlock Tier 1</a>
                  </div>
                </div>
                <div class="col">
                  <div class="text-center">
                    <h4>Tier 2 - $50</h4>
                  </div>
                  <div class="pre-release-col--banner">
                    <img src="assets/images/store/tier-2-banner.png">
                  </div>
                  <div class="content-box--inner pre-release-col">
                    <ul class="pre-release-col--benefits">
                      <li>$50 Donated on Account<br>(+ Any Rank Benefits)</li>
                      <li>Lock In Username (x2)</li>
                      <li>Discord Rank</li>
                      <li>Beta Access</li>
                      <li>Title</li>
                      <li>Pre-Release Mystery Box (Untradeable & Discontinued)</li>
                    </ul>

                    <div class="pre-release-col--more-soon">
                      <p>More Coming soon</p>
                    </div>

                    <a href="#" class="btn full-width green">Unlock Tier 2</a>
                  </div>
                </div>
                <div class="col">
                  <div class="text-center">
                    <h4>Tier 3 - $250</h4>
                  </div>
                  <div class="pre-release-col--banner">
                    <img src="assets/images/store/tier-3-banner.png">
                  </div>
                  <div class="content-box--inner pre-release-col">
                    <ul class="pre-release-col--benefits">
                      <li>$250 Donated on Account<br>(+ Any Rank Benefits)</li>
                      <li>Lock In Username (x3)</li>
                      <li>Discord Rank</li>
                      <li>Beta Access</li>
                      <li>Title</li>
                      <li>Pet</li>
                      <li>2x Pre-Release Mystery Box (Untradeable & Discontinued)</li>
                    </ul>

                    <div class="pre-release-col--more-soon">
                      <p>More Coming soon</p>
                    </div>

                    <a href="#" class="btn full-width green">Unlock Tier 3</a>
                  </div>
                </div>
                <div class="col">
                  <div class="text-center">
                    <h4>Tier 4 - $500</h4>
                  </div>
                  <div class="pre-release-col--banner">
                    <img src="assets/images/store/tier-4-banner.png">
                  </div>
                  <div class="content-box--inner pre-release-col">
                    <ul class="pre-release-col--benefits">
                      <li>$500 Donated on Account<br>(+ Any Rank Benefits)</li>
                      <li>Lock In Username (x3)</li>
                      <li>Discord Rank</li>
                      <li>Beta Access</li>
                      <li>Title</li>
                      <li>Pet</li>
                      <li>3x Pre-Release Mystery Box (Untradeable & Discontinued)</li>
                      <li>Tradeable Discontinued Cosmetic</li>
                    </ul>

                    <div class="pre-release-col--more-soon">
                      <p>More Coming soon</p>
                    </div>

                    <a href="#" class="btn full-width green">Unlock Tier 4</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>

  <app-footer></app-footer>
  <app-scripts></app-scripts>
</body>
</html>