<!doctype html>
<html lang="en">
<head>
    <title>Fate RSPS - Login</title>

    <app-head></app-head>
</head>

<body>
    <app-navigation></app-navigation>

  <main>
    <div class="container super-narrow">
      <section>
        <form>
          <div class="section-title">
              <img src="assets/images/universal/section-icons/login-icon.png" lazy>
              <h3>Login</h3>
          </div>
          <div class="content-box">
            <p class="mb-3">Not Registered? <a href="#" class="text-gold">Create an Account</a> </p>
            <hr>
            <div class="mb-3">
              <label for="loginUsername" class="form-label">Username</label>
              <input type="text" class="form-control" id="loginUsername" placeholder="Enter Username">
            </div>
            <div class="mb-3">
              <div class="d-flex flex-row justify-content-between">
                <label for="loginPassword" class="form-label">Password</label>
                <a href="#" class="text-faded">Forgot Password?</a>
              </div>


              <input type="password" class="form-control" id="loginPassword" placeholder="Enter Password">
            </div>
            <button type="submit" class="btn full-width">Login</button>
          </div>
        </form>
      </section>
    </div>
  </main>

  <app-footer></app-footer>
  <app-scripts></app-scripts>
</body>
</html>