<!-- Footer Start -->
<footer>
    <div class="container">
        <div class="footer-grid">
            <ul class="footer-list">
                <li class="footer-list--title">Quick Links</li>
                <li><a href="#" class="footer-list--link">Vote</a></li>
                <li><a href="#" class="footer-list--link">Store</a></li>
                <li><a href="#" class="footer-list--link">Hiscores</a></li>
                <li><a href="#" class="footer-list--link">Register</a></li>
            </ul>
            <ul class="footer-list">
                <li class="footer-list--title">Game</li>
                <li><a href="#" class="footer-list--link">Download</a></li>
                <li><a href="#" class="footer-list--link">Support</a></li>
                <li><a href="#" class="footer-list--link">Updates</a></li>
                <li><a href="#" class="footer-list--link">News</a></li>
            </ul>
            <div class="footer-logo-column">
                <a href="#">
                    <img src="assets/images/footer/logo-footer.png" lazy>
                </a>
                <p>© 2022 Fate | All Rights Reserved</p>
            </div>
            <ul class="footer-list">
                <li class="footer-list--title">Community</li>
                <li><a href="#" target="_blank" class="footer-list--link">Join Discord</a></li>
                <li><a href="#" class="footer-list--link">Forums</a></li>
                <li><a href="#" class="footer-list--link">Create Account</a></li>
                <li><a href="#" class="footer-list--link">Profile</a></li>
            </ul>
            <ul class="footer-list">
                <li class="footer-list--title">Support</li>
                <li><a href="#" class="footer-list--link">Report a bug</a></li>
                <li><a href="#" class="footer-list--link">Client Help</a></li>
                <li><a href="#" class="footer-list--link">Guides</a></li>
                <li><a href="#" class="footer-list--link">Report a player</a></li>
            </ul>
        </div>
    </div>
</footer>

<!-- Footer End -->