<app-head></app-head>

<body>
  <app-navigation></app-navigation>
  <section class="homepage-header">
    <div class="container">
      <div class="#">
        <h2>Can you change</h2>
        <h1>Your Fate?</h1>
        <p>Will you take a stand and prevail against many</p>
        <a href="#" class="play-button">
          Play Now
        </a>
      </div>
    </div>
  </section>
  <main>
    <div class="container">
      <section>
        <div class="row gy-4">
          <div class="col-12 col-md-12 col-lg-12 col-xl-6">
            <div class="content-box shadow-overlay">
              <div class="home-launch-layout">
                <div class="home-launch-layout--img">
                  <img src="assets/images/home/icon-launching.png" lazy>
                </div>
                <div class="home-launch-layout--content">
                <h4>Fate is launching in</h4>
                <div class="countdown-timer">
                  <div class="countdown-timer-figure">
                    <div class="countdown-timer-number">51</div>
                    <div class="countdown-timer-metric">Days</div>
                  </div>
                  <div class="countdown-timer-figure">
                    <div class="countdown-timer-number">51</div>
                    <div class="countdown-timer-metric">Hours</div>
                  </div>
                  <div class="countdown-timer-figure">
                    <div class="countdown-timer-number">51</div>
                    <div class="countdown-timer-metric">Minutes</div>
                  </div>
                  <div class="countdown-timer-figure">
                    <div class="countdown-timer-number">51</div>
                    <div class="countdown-timer-metric">Seconds</div>
                  </div>
                </div>
              </div>
              </div>

            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-12 col-xl-6">
            <div class="content-box shadow-overlay">
              <div class="home-launch-layout">
                <div class="home-launch-layout--img">
                  <img src="assets/images/home/icon-supporter.png" lazy>
                </div>
                <div class="home-launch-layout--content">
                <h4>Early Supporters</h4>
                <p>Become an early supporter of the Fate Development and unlock exclusive rewards & benefits before launch.</p>
                <a href="#" class="btn important">Become a Supporter</a>
              </div>
              </div>

            </div>
          </div>
        </div>
      </section>

      <section id="news">
        <div class="row gy-4">
          <div class="col-12 col-md-12 col-lg-7 col-xl-8">
            <div class="section-title">
              <img src="assets/images/universal/section-icons/news-icon.png" lazy>
              <h3>News & Updates</h3>
            </div>
            <div class="content-box">
              <div class="news-section--grid">
                <div class="news-section--block">
                  <div class="news-header">
                    <h5>Update Thread Post Title</h5>
                    <div class="news-header--ribbon green">Game Update</div>
                  </div>
                  <div class="news-body">
                    <div class="news-image">
                      <img src="assets/images/home/news-images/news-image-1.jpg" lazy>
                    </div>
                    <div class="news-content">
                      <div class="news-content--description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>  
                      </div>
                      <div class="news-content--footer">
                        <div class="news-date"><span>03/01/2021</span></div>
                        <a href="#" class="btn">Read Full Post</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="news-section--block">
                  <div class="news-header">
                    <h5>Update Thread Post Title</h5>
                    <div class="news-header--ribbon red">Announcement</div>
                  </div>
                  <div class="news-body">
                    <div class="news-image">
                      <img src="assets/images/home/news-images/news-image-1.jpg" lazy>
                    </div>
                    <div class="news-content">
                      <div class="news-content--description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>  
                      </div>
                      <div class="news-content--footer">
                        <div class="news-date"><span>03/01/2021</span></div>
                        <a href="#" class="btn">Read Full Post</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="col-12 col-md-12 col-lg-5 col-xl-4">
            <div class="section-title">
              <img src="assets/images/universal/section-icons/discord-icon.png" lazy>
              <h3>Discord</h3>
            </div>
            <div class="content-box">
              <a href="#" target="_blank" class="btn full-width mb-3">Connect to the Discord Server</a>
              <!-- Discord Widget -->
              <iframe src="https://discord.com/widget?id=899445243664023584&theme=dark" width="100%" height="482" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
            </div>
          </div>
        </div>
      </section>

      <section id="media">
        <div class="content-box no-padding media-box">
          <div class="media-box--header">
            <img src="assets/images/home/icon-media.png" lazy>
            <div class="media-box--header-text">
              <h4>Community</h4>
              <h2>Media</h2>
            </div>
          </div>
          <div class="media-videos-grid">
            <div class="video-container full-frame-border">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/otB6bbcczuU?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="video-container full-frame-border">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/otB6bbcczuU?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="video-container full-frame-border">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/otB6bbcczuU?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </section>
      
    </div>
  </main>

  <app-footer></app-footer>
  <app-scripts></app-scripts>
</body>