<!doctype html>
<html lang="en">
<head>
    <title>Fate RSPS - Login</title>

    <app-head></app-head>
</head>

<body>
    <app-navigation></app-navigation>

    <main>
        <div class="container super-narrow">
            <section>
            <form>
                <div class="section-title">
                    <img src="assets/images/universal/section-icons/register-icon.png" lazy>
                    <h3>Create an account</h3>
                </div>
                <div class="content-box">
                <p class="mb-3">Already Registered? <a href="#" class="text-gold">Login</a> </p>
                <hr>
                <div class="mb-3">
                    <label for="registerUsername" class="form-label">Create Username</label>
                    <input type="text" class="form-control" id="registerUsername" placeholder="Enter Username">
                </div>
                <div class="mb-3">
                    <label for="registerEmail" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="registerEmail" placeholder="Enter Valid Email Address">
                </div>
                <div class="mb-3">
                    <label for="registerPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="registerPassword" placeholder="Enter Password">
                </div>
                <div class="mb-3">
                    <label for="registerRepeatPassword" class="form-label">Repeat Password</label>
                    <input type="password" class="form-control" id="registerRepeatPassword" placeholder="Re-enter Password to confirm">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input mr-2" id="registerAcceptTOS">
                    <label class="form-check-label" for="registerAcceptTOS">I accept <a href="#">Terms of Service</a></label>
                </div>
                <button type="submit" class="btn full-width">Create Account</button>
                </div>
            </form>
            </section>
        </div>
    </main>

  <app-footer></app-footer>
  <app-scripts></app-scripts>
</body>
</html>